.para{
    width: 75%;
    margin-left: 15%;
    border: 2px solid blue;
    text-align: justify;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;

}
.heading{
    text-align: center;
    color: blue;
    font-size: 30px;
}